option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.medium
    RootVolumeSize: "20"

packages:
  yum:
    gcc: []
    gcc-c++: []
    python3-devel: []

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_pip_upgrade.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      source /var/app/venv/*/bin/activate
      pip install --upgrade pip setuptools wheel

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02_pytorch_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      source /var/app/venv/*/bin/activate
      pip install torch==1.8.1+cpu torchvision==0.9.1+cpu -f https://download.pytorch.org/whl/torch_stable.html 